/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#banner {
  background-color: lightgray;
  width: 100%;
  height: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 1rem;
}

#parent {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

#editor, #graph {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.customInput {
  display: inline-block; /* Set display to inline-block */
  background-color: white;
  border: 2px solid black;
  border-radius: 0.75rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1.5rem;
  margin-right: 20px; /* Add some right margin to the button */
}

button:hover {
  background-color: lightgrey;
}

#title {
  width: 100%;
  text-align: center;
}

/* Split.js styles */
.gutter {
  background-color: #f17e7e;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}
